table {
	border-collapse: collapse;
	margin-bottom:20px;
}

td.firstCell {
	padding: 5px 30px 5px 5px;
	max-width: 150px;
	border-right: 1px solid black;
}

td.secondCell {
	padding:5px;
	max-width: 500px;
	overflow:hidden;
	vertical-align:baseline;
}

td {
	border: 1px solid black
}

tr:nth-child(even) {
	background-color: lightgrey
}

.userName {
	font-weight: bold;
}

.commentDate {
	font-style: italic;
}